* {
  margin: 0;
}

.frm {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  margin: 0;
  background: transparent;
  font-size: 18px;
  flex-wrap: wrap;
  flex-direction: column;
}

.Form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

form{
  width: auto;
}

.form-group {
  margin: 2vw 0;
  width: 90%;

}

.form-group input {
  width: 100%;
  margin: 1vw 0;
  outline: none;
  border: solid 1px #adaf09;
  border-radius: 5vw;
  height: 26px;
  padding: 5px;
}

.form-group input[type="submit"] {
  width: 40%;
  font-size: 16px;
  background: #C89800;
  color: #fff;
}

#status {
  display: none;
  height: auto;
  padding: 5px;
  margin: 0;
}

#status.done {
  display: initial;
  background: #66FF00D1;
  color: #000;
}

#status.error {
  display: initial;
  background: #FF0000;
  color: #fff;
}
.frm a{
  color:#007EFF;
  font-weight: 300;
}