*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: scroll;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  position: relative;
  font-family: 'hel', sans-serif;
  letter-spacing: 1px;
}
@font-face{
  font-family: "hel";
  src: url("Lato.ttf");
  font-weight: 300;
}
a{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.start{
  color: #E0BD00;
  font-size: 30px;
  font-style: italic;
  border-right: groove 0px #E0BD00;
  padding: 0;
  margin: 0;
  transition: 0.5s;
}
.start:hover{
  border-right: groove 3px #E0BD00;
  font-size: 40px;
  padding: 1.8vw;
  margin: 1.8vw;
  transition: 0.5s;
}
body {
  background: #222222 url("Bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: overlay;
  color: #fff;
  background-size: contain;
 scroll-behavior: smooth;
}
header{
  position: absolute;
  display: block;
  height: 45px;
  width: 100%;
  background: url("HeaderBg.jpg") #222222;
  background-size: cover;
  background-blend-mode : multiply;
  z-index: -1;
}
.toggleBtn{
  position: fixed;
  font-size: 8vw;
  color: #fff;
  background: #FFC900A1;
  margin-left: 87vw;
  padding: 0 10px;
  z-index: 10;
}
nav.active,nav.General{
  position: fixed;
  width: 100%;
  z-index: 1;
}
nav ul{
  width: 100%;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
nav ul li{
  display: inline-flex;
  background: transparent;
}
nav ul li a{
  text-decoration: none;
  display: flex;
  color: #fff;
  padding: 5px;
  font-size: 20px;
  transition: 1s;
}
nav.active ul{
  background: #fff;
  color: #000;
  font-size: 30px;
  transition: 1s;
}
nav.active ul li a{
  color : #000;
  padding: 10px;
  transition: 1s;
}
#hide{
  height: 0;
}
#show{
  position: fixed;
  width: 100%;
  z-index: 1;
}
#show ul{
  height: 100vh;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  transition: background 1s;
}
#show ul li{
  display: flex;
  justify-content: center;
}
#show ul li a{
  color: #000;
  padding: 10px 50px;
  transition: 1s;
}
nav ul li:hover{
  background-color: #E0BD00;
  transition: 0.3s;
}
#show ul li:hover{
  border-radius: 5px;
  background-color: #E0BD00;
  transition: 0.3s;
}
header img{
  height: 30px;
  width: auto;
  float: right;
  margin: 5px;
  border-radius: 5%;
}
#body{
  position: relative;
  display: initial;
}
#menu{
  height: 40px;
  position: relative;
}
#contact {
  max-width: 95vw;
  display: flex;
  flex-wrap: wrap;
  margin: 2vw;
  flex-direction: column;
}
.cntInfo{
  display: flex;
  justify-content: left;
  flex-wrap: nowrap;
}
@font-face{
  font-family: "logo";
  src: url("Logos.ttf");
}
@font-face{
  font-family: "lg";
  src: url("Social Logos Color.ttf");
}
.cntInfo .logoCt{
  font-family: 'lg';
  font-size: 30px;
  min-width: 70px;
}
.cntInfo a{
  font-weight: 300;
  padding: 10px;
  color: #00C6FF;
}